/**
 * Theme: Portfolio
 * --------------------------------------------------
 */
.t-mytello {
  background-color: #ff694e;

  &:before {
    background-color: #ff694e;
  }

  .c-portfolio__close {
    color: #ff694e;
  }
}

.t-icanswim {
  background-color: #1267a8;

  &:before {
    background-color: #1267a8;
  }

  .c-portfolio__close {
    color: #1267a8;
  }
}

.t-deshantz {
  background-color: #343434;

  &:before {
    background-color: #343434;
  }

  .c-portfolio__close {
    color: #343434;
  }
}

.t-canvas {
  background-color: #8cb924;

  &:before {
    background-color: #8cb924;
  }

  .c-portfolio__close {
    color: #8cb924;
  }
}

.t-pind {
  background-color: #22a7f0;

  &:before {
    background-color: #22a7f0;
  }

  .c-portfolio__close {
    color: #22a7f0;
  }
}

.t-any {
  background-color: #57385c;

  &:before {
    background-color: #57385c;
  }

  .c-portfolio__close {
    color: #57385c;
  }
}

.t-bttr {
  background-color: #04bfbf;

  &:before {
    background-color: #04bfbf;
  }

  .c-portfolio__close {
    color: #04bfbf;
  }
}
